.page.aboutus{


    h3{
        background-color: #1abc9c;
        color:#1abc9c;
    }
    p{
        font-size: 17px;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px
    }
}   