.page-home {
    .banner {
        margin: 75px 0;
        @include skew-me(-3deg, $theme-primary);
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    form {
        margin: 75px 0;
        @include skew-me(3deg, $theme-primary);
    }
    h3{
        color: #284b80;
    }
    p{
        font-size: 17px;
    }
}
body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #662D91;
}

ul.topnav li {
    float: left;
    a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
}


ul.topnav li a:hover:not(.active) {
    background-color: #284b80;
}

ul.topnav li a.active {
    background-color: #4CAF50;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {
        float: none;
    }
}
