$theme-primary: #662D91;

@import 'skew';

@import 'pages/index';

.navbar {
    background: transparent;
    border: none;
    box-shadow: none;
    .navbar-brand {
        padding: 2px 0;
        img {
            height: 45px;
        }
    }
}


