$theme-primary: #662D91;

@import 'skew';
@import 'pages/contactus';
@import 'pages/index';
@import 'pages/Events';
@import 'pages/popupcontact';

.navbar {
    background: transparent;
    border: none;
    box-shadow: none;
    .navbar-brand {
        padding: 2px 0;
        img {
            height: 45px;
        }
    }
    .topnav {
        a {
            color: $theme-primary;
        }
    }
}

body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.topnav li {
    float: left;
    a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
}


ul.topnav li a:hover:not(.active) {
    background-color:#662D91 ;
    color: white;

}

ul.topnav li a.active {
    background-color:white ;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {
        float: none;
    }
}
